<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022342930623-672fh02mf7d07qnbu7hq4cp8avhp2bnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022342930623-672fh02mf7d07qnbu7hq4cp8avhp2bnb</string>
	<key>API_KEY</key>
	<string>AIzaSyDEE3z4sPrdSQvt-SvP6BXMEdlBPbWUVY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1022342930623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giovannamoeller.LoginFirebaseiOS</string>
	<key>PROJECT_ID</key>
	<string>loginfirebaseios-c379d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebaseios-c379d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022342930623:ios:8c5074a5a0b361be18660a</string>
</dict>
</plist>